Source: cblues-gnome-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Vcs-Browser: https://git.siduction.org/extra/settings-gnome
Vcs-Git: https://git.siduction.org/extra/settings-gnome.git
Homepage: https://git.siduction.org/extra/settings-gnome

Package: cblues-gnome-settings
Architecture: all
Depends: ${misc:Depends},
         cblues-gnome-artwork,
         cblues-sddm-settings
	 | cblues-lightdm-gtk-settings
	 | cblues-gdm3-settings,
         cblues-common-settings
Description: GNOME settings (installed mode)
 Siduction settings for GNOME in installed mode

Package: cblues-gnome-livesettings
Architecture: all
Depends: ${misc:Depends},
         siduction-icons,
         cblues-gnome-artwork,
         cblues-gnome-settings,
         cblues-common-livesettings,
         cblues-sddm-livesettings
         | cblues-ligthdm-gtk-livesettings
         | cblues-gdm3-livesettings
Description: GNOME settings in live mode
 Pushes GNOME overrides schemas in live mode
