Source: farewell-gnome-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Vcs-Browser: https://github.com/siduction/settings-gnome
Vcs-Git: https://github.com/siduction/settings-gnome
Homepage: https://github.com/siduction/settings-gnome

Package: farewell-gnome-settings
Architecture: all
Depends: ${misc:Depends},
         farewell-gnome-artwork,
         farewell-sddm-settings
	 | farewell-lightdm-gtk-settings
	 | farewell-gdm3-settings,
         farewell-common-settings
Description: GNOME settings (installed mode)
 Siduction settings for GNOME in installed mode

Package: farewell-gnome-livesettings
Architecture: all
Depends: ${misc:Depends},
         siduction-icons,
         farewell-gnome-artwork,
         farewell-gnome-settings,
         farewell-common-livesettings,
         farewell-sddm-livesettings
         | farewell-ligthdm-gtk-livesettings
         | farewell-gdm3-livesettings
Description: GNOME settings in live mode
 Pushes GNOME overrides schemas in live mode
