[Unit]
Description=GNOME cheatcodes in live media
ConditionPathExists=/usr/share/patience-gnome-livesettings/
After=patience-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/patience-gnome-livesettings/gnome-cheatcodes start

[Install]
WantedBy=graphical.target
